/*css du login*/

body
{
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #f0f5ef ;
}

.all
{
    margin: auto;
    text-align: center;
}

h1
{
    font-weight: bold;
    font-size: 2em;
}

/*------css du template--------*/

/*HEADER*/

header
{
    display: flex;

    justify-content: space-between;
    align-items: center;
}

#logo
{
    align-self: flex-start;
}

h1
{
    font-size: 2.5em;
}

#right_header
{
    display: flex;
    flex-direction: column;
}

#setting_wheel
{
    display: flex;
    align-items: center;
    font-size: 1em;
}

#img_wheel
{
    margin: 3px;
    padding: 5px;
}

/*NAV*/

#nav_content
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

#sidebar ul
{
    list-style-type: none;

}

#sidebar a
{
    background-color: rgb(200,200,200);
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    display: block;
    line-height: 40px;
    padding: 0 15px;
    border: 3px groove black;
    border-radius: 10px;
}

#sidebar a:hover
{
    color: white;
    border-color: black;
    background-color: #ff6c06;

}



#dropdown-content
{
    display: none;
    position: absolute;
}

#sidebar
{
    margin-right: -10px;
}

#dropdown:hover #dropdown-content
{
    display: block;

}

#dropdown-content a
{
    font-size: 1.1em;
    line-height: 40px;
    position: relative;
    left: 192px;
    top: -45px;
    text-align: right;


}


#content
{
    border: 3px solid;
    background-color: #f0f5ef ;
    height: 200%;
    width: 70%;



}

/*FOOTER*/

footer
{
    display: flex;
    position: fixed;
    bottom:1%;
    left: 0;
    width: 100%;
    background-color: rgb(200,200,200);
    padding: 5px;
}

#footer
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

footer a
{
    text-decoration: none;
    color: black;
}

footer div div
{
    color: black;
}
