/*css du login*/

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f0f5ef;
}

.all {
    margin: auto;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 2em;
}

/*------css du template--------*/

/*HEADER*/

header {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

#logo {
    align-self: flex-start;
}

h1 {
    font-size: 2.5em;
}

#right_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    z-index: 1;
}

#setting_wheel {
    margin: 10px;
    width: 32px;
    height: 32px;
}

.sign_out {
    width: 32px;
    height: 32px;
    margin: 10px;
}

/*NAV*/

#nav_content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 209px;

}

#sidebar a {
    background-color: rgb(200, 200, 200);
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    display: block;
    line-height: 189%;
    padding: 0 9%;
    border: 3px groove black;
    border-radius: 10px;
}

#sidebar a:hover {
    color: white;
    border-color: black;
    background-color: #ff6c06;
}

#dropdown-content {
    display: none;
    position: absolute;
}

#sidebar {
    margin-right: -1%;
}

#dropdown:hover #dropdown-content {
    display: block;
}

#dropdown-content a {
    font-size: 1.1em;
    line-height: 230%;
    position: relative;
    left: 128%;
    top: -45px;
    text-align: right

}

#content {
    border: 3px solid;
    background-color: #f0f5ef;
    min-width: 85%;
    min-height: 100%;
}

/*FOOTER*/

footer {
    display: flex;
    position: fixed;
    bottom: 1%;
    left: 0;
    width: 100%;
    background-color: rgb(200, 200, 200);
    padding: 5px;
}

#footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

footer a {
    text-decoration: none;
    color: black;
}

footer div div {
    color: black;
}

/*CSS CONTACT   */

#page_contact {
    display: flex;
    flex-direction: column;
    height: 100%;

}

#title_contact {
    display: flex;
    justify-content: center;

}
#intro_contact{
    margin-left: 1.4%;
    font-size: 120%;

}
#corps_contact {
    display: flex;
    flex-direction: row;
    width: 140%;
    height: 140%;

}

#form_contact {

    display: flex;
    margin: 1%;
    max-width: 60%;
    flex-direction: column;

}

#object_contact {
    border: 3px solid;
    max-width: 20%;
    margin-bottom: 2%;
}

#message_contact {
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 8%;
    border: 3px solid;
    overflow: scroll;
    height: 140%;
    width: 120%;

}

#coordonnees_contact {
    border: 3px solid;

    min-height: 30%;
    display: flex;
    margin: 15%;
    justify-content: center;
    align-content: right;
    width: 42%;
}

#envoyer_contact {
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 6px 6px 6px black;
    margin-top: 2%;
    margin-right: 15%;

    margin-bottom: 15%;
    width: 16%;

    justify-content: left;
    right: 20%;

}

#findepage_contact {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 5%;
}

/*CGU*/

.CGU {
    font-family: courier;
    text-align: justify;
    height: 100%;
    overflow: scroll;
}

.CGU ul, .CGU p {
    font-size: 15px;
    max-width: auto;
}

.CGU h1, .CGU h2, .CGU ul, .CGU p {
    margin: 10px;
}

/*gestion utilisateur*/

.ref_table table {
    border-collapse: collapse;
}

.ref_table td, th {
    border: 1px solid black;
    padding: 10px;
}

/*Global stats */
#graph {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto
}