/*css du login*/

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f0f5ef;
}

.all {
    margin: auto;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 2em;
}

/*------css du template--------*/

/*HEADER*/

header {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

#logo {
    align-self: flex-start;
}

h1 {
    font-size: 2.5em;
}

#right_header {
    display: flex;
    flex-direction: column;
}

#setting_wheel {
    display: flex;
    align-items: center;
    font-size: 1em;
}

#img_wheel {
    margin: 3px;
    padding: 5px;
}

/*NAV*/

#nav_content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 209px;

}

#sidebar a {
    background-color: rgb(200, 200, 200);
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    display: block;
    line-height: 189%;
    padding: 0 9%;
    border: 3px groove black;
    border-radius: 10px;
}

#sidebar a:hover {
    color: white;
    border-color: black;
    background-color: #ff6c06;
}

#dropdown-content
{
    display: none;
    position: absolute;
}

#sidebar
{
    margin-right: -1%;
}

#dropdown:hover #dropdown-content
{
    display: block;
}

#dropdown-content a
{
    font-size: 1.1em;
    line-height: 230%;
    position: relative;
    left: 128%;
    top: -45px;
    text-align: right;

}

#content
{
    border: 3px solid;
    background-color: #f0f5ef ;
    height: 180%;
    width: 80%;
}

/*FOOTER*/

footer {
    display: flex;
    position: fixed;
    bottom: 1%;
    left: 0;
    width: 100%;
    background-color: rgb(200, 200, 200);
    padding: 5px;
}

#footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

footer a {
    text-decoration: none;
    color: black;
}

footer div div {
    color: black;
}

/*CSS CONTACT   RESPONSIVE SAUF BLOC COORDONNEES*/

#page_contact {
    display: flex;
    flex-direction: column;

    /* justify-content: center;
     align-items: center; */

}

#contact {
    display: flex;
    justify-content: center;
}

#form_contact {

    display: flex;
    flex-direction: column;
    margin: 1%;
    width: 40%;
}

#corps_contact {
    display: flex;
    flex-direction: row;
    width: 140%;
    height: 140%;

}

#object_contact {
    border: 3px solid;
}

#message_contact {
    margin-top: 2%;
    border: 3px solid;
    overflow: scroll;

}

#coordonnees_contact {
    border: 3px solid;
    width: 110%;
    min-height: 60%;
    display: flex;
    margin: 15%;
    justify-content: center;
    align-content: center;

}

#envoyer_contact {
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 6px 6px 6px black;
    margin-left: 15%;
    width: 43%;

}

#findepage_contact{
    display: flex;
    flex-direction: column;
}

/*CGU*/

.CGU{
    font-family: courier, serif;
    text-align: justify;
    height: 100%;
    overflow: scroll;
}

.CGU ul, .CGU p{
    font-size: 15px;
}
.CGU h1,.CGU h2,.CGU ul, .CGU p {
    margin:10px;
}
