/*css du template*/


header
{
    display: flex;

    justify-content: space-between;
    align-items: center;
}

#logo
{
    align-self: flex-start;
}

h1
{
    font-size: 2.5em;
}

#setting_wheel
{
    display: flex;
    align-items: center;
    font-size: 1em;
}


/*CSS de l'accueil */

.home_searchbar_add
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add_user
{
    display: flex;
    flex-direction: row;
    align-self: center;
}

.add_user h3
{
    margin: 5px;
}

.ref_table table
{
    border-collapse: collapse;
}

.ref_table td,th
{
    border: 1px solid black;
    padding: 10px;
}

